*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: sans-serif;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

section{
  margin: 18px auto;
}
/* Navigation Bar */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #a6808c;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav .logo{
  font-family: cursive;
  font-size: 33px;
  color: #ca4717c2;
  font-weight: bold;
}

nav .logo span{
  color: #283317e4;
  font-size: 40px
}
nav .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav .nav-links li {
  position: relative;
}

nav .nav-links a {
  color: rgb(38, 36, 36);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
}

nav .nav-links a:hover {
  background-color: #e0c9c9;
  color: #342f26;
  border-radius: 3px;
}

/* Dropdown Menu */
nav .dropdown {
  position: relative;
}

nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

nav .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

nav .dropdown .dropdown-content a {
  padding: 12px 20px;
  color: #052628;
   text-decoration: none;
  font-size: 16px;
  display: block;
  transition: background-color 0.3s;
}

nav .dropdown .dropdown-content a:hover {
  background: #c3ced1;
  color: #fff;
  border-radius: 5px;
}


/*------------------contact-----------*/

.contactus{
  min-height: 100vh;
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(68, 68, 71, 0.3), rgba(68, 68, 71, 0.3)), url("images/contact.jpg") ;
  background-size: cover;
  background-position: center;
}


.container{
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
}

.container h2{
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.contact-wrapper{
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  flex-direction: column;
  grid-gap: 30px;
  margin-top: 40px;
  margin-left: 40px;}

.contact-form{
  text-align: left;
}

.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #ddd;
  color: #333;
  font-family: sans-serif;
}

input:focus, 
textarea:focus{
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

.form-group button{
  margin: 10px;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(45deg,#034078, #81c3d7);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-group button:hover {
  background: linear-gradient(45deg,#81c3d7, #034078); 
  transform: scale(1.04);
}

.contact-info{
  text-align: center;
}
.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info p{
  margin-bottom: 10px;
  color: #2d2d2d;
}

.contact-info i{
  color: #464a74;
  margin-right: 10px;
} 

@media screen and (max-width: 768px){
.container{
  padding: 20px;
}
.contact-wrapper{
  grid-template-columns: 1fr;
}

}

/*------------------contact end-----------*/

/*------------------footer-----------*/
footer{
  background-color: rgba(181, 131, 141,0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100px;
  padding: 0 1rem;
  align-items: center;
  position: relative;
}

 .container{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .col{
  min-width: 250px;
  color: black;
  font-family: poppins;
  padding: 0 2rem;
}

footer .logo{
  font-family: cursive;
  color: #ca4717c2;
  margin-bottom: 15px;
}

footer .logo span{
  color: #283317e4;
}

.col h3{
  color: rgb(38, 36, 36);
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after{
  content: '';
  height: 3px;
  width: 0px;
  background-color: rgb(38, 36, 36);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transition: 0.3s ease;
}

.col h3:hover::after{
  width: 40px;
}

.col .social a i{
  color: #342f26;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}

.col .social a i:hover{
  transform: scale(1.5);
  filter: grayscale(25);
}

.col .links a{
  display: block;
  text-decoration: none;
  color: #3a3737;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.col .links a::before{
  content: '';
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #a55252;
  transition: 0.5s ease;
}

.col .links a:hover::before{
  opacity: 1;
}

.col .links a:hover{
  transform: translateX(-8px);
  color: #a55252;
}

.col .contact-details{
  display: inline-flex;
  justify-content: space-between;
}

.col .contact-details i{
  margin-right: 15px;
}

.row .form form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.row .form input{
  background-color: #e6d9d9;
  border: 0;
  padding: 14px 20px;
  outline: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form button{
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e6d9d9;
  cursor: pointer;
}

@media(max-width:900px)
{
  .row{
    flex-direction: column;   
  }

  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}

@media(max-width:760px)
{
  .row{
    flex-direction: column;   
  }

  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

.credit-line{
  width: 100%;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.5); 
  text-align: center;
  position: absolute;
  padding: 10px 0;
  margin-top: 20px;
}

.credit-line p {
  margin: 0;
  font-size: 14px;
}